.contact-card {
    margin: 0px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: left;
    grid-template-columns: auto auto;
    gap: 20px;
}

.contact-card h3  {
    font-weight: 700;
}

.contact-card  p {
    padding-top: 10px;
    padding-left: 10px;
}

.contact-card img {
    width: 30px;
    opacity: .8;
}

@media only screen and (max-width: 420px) {
    .contact-card {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
} 