main h1 {
    margin: 0px auto 60px;
    text-align: center;
    width: 400px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-top: 65px;
    padding-bottom: 15px;
}

#categories {
    text-align: center;
}

#categories a {
    margin: 0px 15px;
}

#go-back {
    margin: 100px 0px;
    text-align: center;
}

.refri {
    object-fit: scale-down !important;
}

@media only screen and (max-width: 420px) { 
    main h1 {
        width: auto;
    }
}